.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    margin: 0;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 10px 30px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    margin: 0px;
}

#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-between;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #d4c389;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.NavContainer {
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    margin: 0px;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}